// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@red: #aaaaaa;
@blue: #00F;
@green: #0f0;
@purple: #abcdef;

.my{
  color: @red;
}

.foo {
  color: #aaa;
}

.baz {
  color: @blue;
}

.bar {
  color: @green;
}
