// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


div#foo {
    blah:'abc';
}

.my #foo .blah {
    some:  'stuff';
}

.blah {
    foo :'jkl';
}

.foo {
    bar:
          'xyz';
}

.right {
    way: 'good';
}

a:active {
    color: #000;
}

@abs-action-button-as-link: {
    &:not(:focus) {
        box-shadow: none;
    }
}

.actions-toolbar {
    &:not(:first-child) {
        &:extend(.abs-add-clearfix all);
            > .secondary {
                .action {
                    &.add {
                        margin-top: @indent__l;
                    }
                }
            float: left;
        }
    }
}
