// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.nav+.bar {
  color: @bar__color;
}

.nav +.foo {
  color: @bar__color;
}

.nav+ .baz {
  color: @bar__color;
}

.nav + .qux {
  color: @bar__color;
}
