// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.nav {
    background-color: green;
}

.nav-list {
    background-color: red  ;
    color: red
}
