// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.error {
  some: 'stuff';
}

/**
 * Should throw an error, Will be implemented in MAGETWO-49778
 */
div.error {
  anything: 'else';
}

.nav > LI {
  #bar .baz();
}

.nav > ul {
  foo: 'bar';
}
