// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.product-list-item {
    background: green;
}

.product-image {
    background: green;
}

.product {
    random: 'stuff';
    &-list {
        background: red;
        &-item {
            background: red;
        }
    }
    &-image {
        background: red;
    }
}
