// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.nav {
    random: 'stuff';
}

@INCORRECT-PROPERTY__color: red;

//
//  Variables not correctly located
//  _____________________________________________

//  Colors
@btn__color: red;
