// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.my{
  border-width: 0px;
  margin-left: 0.5rem;
}

.foo {
  border-width: 0;
  margin-left: .5rem;
}
